{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="posts">
        <header class="post-header category_flip">
            <h2 class="post-title">
                Search Results
            </h2>
        </header>
        {% if having_articles %}
            <div>
                {% for article in article_set.all %}
                    <div>
                        <a href="{% url "article:detail" article.id %}">
                            {{ article.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% comment %}
                If there are no articles found in search_blog (set having_articles=False,
                the logical process come into this case.
            {% endcomment %}
            <div>
                No articles found. :(
            </div>
        {% endif %}
    </div>
{% endblock %}